/* You can add global styles to this file, and also import other style files */
@import "./styles/material-overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  min-width: 375px;
}

.border-success {
  border-bottom: 2px solid rgb(157, 255, 157);
}
.border-danger {
  border-bottom: 2px solid rgb(255, 158, 158);
}
.border-warning {
  border-bottom: 2px solid rgb(255, 255, 169);
}
