<div class="weight-form-container">
  <form class="d-grid mx-auto" [formGroup]="weightForm">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)" formControlName="date" />
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Enter Weight for {{ formatedDate() }}</mat-label>
      <input matInput formControlName="lbs" />
      <mat-hint align="end">lbs.</mat-hint>
    </mat-form-field>
    <button class="mt-3 w-100" mat-raised-button (click)="addWeight()">Add weight</button>
  </form>
</div>
